# NUM63RSGAME

|**№**|**ФИ Студента**|**GitLab ID**|**Решение**|**Результат**|**Последнее обновление**|
|-|-|-|:-:|-|-|
{%- for user in results %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|{{user[5]}}|
{%- endfor %}

**Обновлено:** {{date}} **МСК**