# 10X10 DIVISION

|**№**|**ФИ Студента**|**GitLab ID**|**Очки**|**Последнее обновление**|
|-|-|-|-|-|
{%- for user in results_10x10 %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|
{%- endfor %}

# 20X20 DIVISION

|**№**|**ФИ Студента**|**GitLab ID**|**Очки**|**Последнее обновление**|
|-|-|-|-|-|
{%- for user in results_20x20 %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|
{%- endfor %}

**Обновлено:** {{date}} **МСК**
