# SPLIT

|**№**|**ФИ Студента**|**GitLab ID**|**Тесты**|**Результат**|**Последнее обновление**|
|-|-|-|-|-|-|
{%- for user in results_split %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|{{user[5]}}|
{%- endfor %}

# STRTOK

|**№**|**ФИ Студента**|**GitLab ID**|**Тесты**|**Результат**|**Последнее обновление**|
|-|-|-|-|-|-|
{%- for user in results_strtok %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|{{user[5]}}|
{%- endfor %}

**Обновлено:** {{date}} **МСК**