# 4X4 DIVISION

|**№**|**ФИ Студента**|**GitLab ID**|**Очки**|**Последнее обновление**|
|-|-|-|-|-|
{%- for user in results_4x4 %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|
{%- endfor %}

# 6X6 DIVISION

|**№**|**ФИ Студента**|**GitLab ID**|**Очки**|**Последнее обновление**|
|-|-|-|-|-|
{%- for user in results_6x6 %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|
{%- endfor %}

**Обновлено:** {{date}} **МСК**