# W00DCUTT3RGAME

|**№**|**ФИ Студента**|**GitLab ID**|**Очки**|**Последнее обновление**|
|-|-|-|-|-|
{%- for user in results %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|
{%- endfor %}

**Обновлено:** {{date}} **МСК**
