# 3X3 DIVISION

|**№**|**ФИ Студента**|**GitLab ID**|**Очки**|**Последнее обновление**|
|-|-|-|-|-|
{%- for user in results_3x3 %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|
{%- endfor %}

# 5X5 DIVISION

|**№**|**ФИ Студента**|**GitLab ID**|**Очки**|**Последнее обновление**|
|-|-|-|-|-|
{%- for user in results_5x5 %}
|{{user[0]}}|{{user[1]}}|{{user[2]}}|{{user[3]}}|{{user[4]}}|
{%- endfor %}

**Обновлено:** {{date}} **МСК**